﻿
@{
    ViewData["Title"] = "Home Page";
}

<br />
<br />
@ViewBag.UserType
<table style="width:100%">
    <tr>
        <td align="left"><input type="text" id="txtSearch" /> <input type="button" value="SEARCH" onclick="doSearch()" /></td>
        <td align="right">
            @{

                if ((int)ViewBag.Page > 1)
                {
                    int newPage = ((int)ViewBag.Page - 1);
                    <span onclick="changePage(@newPage)"> << </span>
                }

                <span>Page @ViewBag.Page of @ViewBag.PageCount</span>

                if ((int)ViewBag.Page < (int)ViewBag.PageCount)
                {
                    int newPage = ((int)ViewBag.Page + 1);
                    <span onclick="changePage(@newPage)"> >> </span>
                }
            }

            <span> Total Records: @ViewBag.Count</span>

        </td>
    </tr>
</table>

<table border="1">
    <thead>
        <tr>
            <td><span onclick="doSort('dCallStart')">Call Date</span></td>
            <td><span onclick="doSort('OrderNumber')">Order Number</span></td>
            <td><span onclick="doSort('LocationCode')">Location Code</span></td>
            <td><span onclick="doSort('GrossNewLines')">Gross New Lines</span></td>
            <td><span onclick="doSort('GrossAccessoryRevenue')">Gross Accessory Revenue</span></td>
            <td><span onclick="doSort('GrossUpgrades')">Gross Upgrades</span></td>
            <td><span onclick="doSort('TMP')">TMP - sTMP</span></td>
            <td><span onclick="doSort('InStorePickUp')">Instore Pickup</span></td>
            <td><span>Order Status</span></td>
            <td></td>
        </tr>
    </thead>
    @foreach (VerizonSalesTrackerMVC.Entities.SalesTrackerData row in Model)
    {
        <tr>
            <td>@row.dCallStart.ToString("MM/dd/yy")</td>
            <td>@row.OrderNumber</td>
            <td>@row.LocationCode</td>
            <td>@row.GrossNewLines</td>
            <td>@row.GrossAccessoryRevenue</td>
            <td>@row.GrossUpgrades</td>
            <td>@row.TMP</td>
            <td>@row.InStorePickUp</td>
            <td>
                <select id="order_@row.iCoContactId">
                    <option value="0">-- SELECT --</option>
                    @{

                        if (@row.StatusId == 217)
                        {
                            <option value="217" selected="selected">Pending T&C</option>
                        }
                        else
                        {
                            <option value="217">Pending T&C</option>
                        }
                        if (@row.StatusId == 218)
                        {
                            <option value="218" selected="selected">Pending IFD</option>
                        }
                        else
                        {
                            <option value="218">Pending IFD</option>
                        }
                        if (@row.StatusId == 219)
                        {
                            <option value="219" selected="selected">CC Declined</option>
                        }
                        else
                        {
                            <option value="219">CC Declined</option>
                        }
                        if (@row.StatusId == 220)
                        {
                            <option value="220" selected="selected">Shipped</option>
                        }
                        else
                        {
                            <option value="220">Shipped</option>
                        }
                        if (@row.StatusId == 128)
                        {
                            <option value="128" selected="selected">Activated</option>
                        }
                        else
                        {
                            <option value="128">Activated</option>
                        }
                        if (@row.StatusId == 199)
                        {
                            <option value="199" selected="selected">Rejected</option>
                        }
                        else
                        {
                            <option value="199">Rejected</option>
                        }
                    }


                </select>
            </td>
            <td><input type="button" id="btn_@row.iCoContactId" value="UPDATE" onclick="updateRecord(@row.iCoContactId);" /></td>
        </tr>

    }
</table>
<script>
    function updateRecord(ContactID) {
        var value = $('#order_' + ContactID).val();
        //if (value == 0) {
            //alert("Update Cancelled: No value selected!");
        //}
       // else {
            window.location.href = "Home/UpdateStatus?ContactID=" + ContactID + "&StatusID=" + value;
       // }
        
    }

    function doSearch() {
        var value = $('#txtSearch').val();
        window.location.href = "Home/Search?searchFilter=" + value;
    }

    function doSort(sort) {
        window.location.href = "Home/Sort?sortFilter=" + sort;
    }

    function changePage(page) {
        window.location.href = "Home/ChangePage?Page=" + page;
    }

</script>

