﻿@model VerizonSalesTrackerMVC.Entities.LoginModel
@{
    ViewData["Title"] = "Login";
}

<br />
<br />
Please Login
@using (Html.BeginForm("Login", "Home",FormMethod.Post))
{
    <table>
        <tr>
            <td>First Name</td>
            <td> @Html.TextBoxFor(m => m.FirstName) </td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td> @Html.TextBoxFor(m => m.LastName) </td>
        </tr>
        <tr>
            <td>Agent / User ID</td>
            <td> @Html.TextBoxFor(m => m.AgentID) </td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Login" /></td>
        </tr>
    </table>
    <div style="font-weight:bold;color:maroon">@ViewBag.Message</div>
}



