﻿
@{
    ViewData["Title"] = "Supervisor Summary";
}

<br />
<br />

<h3>Supervisor Summary</h3>

<table border="1">
    <thead>
        <tr>
            <td>SupervisorID</td>
            <td>Supervisor First Name</td>
            <td>Supervisor Last Name</td>
            <td>Gross New Lines</td>
            <td>Gross Accessory Revenue</td>
            <td>Gross Upgrades</td>

        </tr>
    </thead>
    @foreach (VerizonSalesTrackerMVC.Entities.SalesSummarySupervisorData row in Model)
    {
        <tr>
            <td>@row.SupervisorID</td>
            <td>@row.SupervisorFirstName</td>
            <td>@row.SupervisorLastName</td>
            <td>@row.GrossNewLines</td>
            <td>@row.GrossAccessoryRevenue</td>
            <td>@row.GrossUpgrades</td>
        </tr>

    }
        <tr style="background-color:#000000; color:#ffffff; font-weight:bold">
            <td>TOTAL</td>
            <td></td>
            <td></td>
            <td>@ViewBag.TotalGrossNewLines</td>
            <td>@ViewBag.TotalGrossAccessoryRevenue</td>
            <td>@ViewBag.TotalGrossUpgrades</td>
        </tr>
</table>
<script>


</script>

