﻿
@{
    ViewData["Title"] = "Summary by Location";
}

<br />
<br />
<h3>Summary by Location</h3>
<table border="1">
    <thead>
        <tr>
            <td><span>Status</span></td>
            <td><span>Gross New Lines </span></td>
            <td><span>Gross Accessory Revenue</span></td>
            <td><span>Gross Upgrades</span></td>
        </tr>
    </thead>
    @foreach (VerizonSalesTrackerMVC.Entities.SalesSummaryData row in Model)
    {
        <tr>
            <td>@row.Status</td>
            <td>@row.GrossNewLines</td>
            <td>@row.GrossAccessoryRevenue</td>
            <td>@row.GrossUpgrades</td>
        </tr>

    }
        <tr style="background-color:#000000; color:#ffffff; font-weight:bold">
            <td>TOTAL</td>
            <td>@ViewBag.TotalGrossNewLines</td>
            <td>@ViewBag.TotalGrossAccessoryRevenue</td>
            <td>@ViewBag.TotalGrossUpgrades</td>
        </tr>
</table>
<script>

</script>

